altgraph==0.17.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
docopt==0.6.2
feedparser==6.0.10
future==0.18.2
geographiclib==1.52
geopy==2.2.0
idna==3.3
pefile==2021.9.3
pipreqs==0.4.11
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
pywin32-ctypes==0.2.0
requests==2.27.1
sgmllib3k==1.0.0
urllib3==1.26.9
XlsxWriter==3.0.3
yarg==0.1.9
